<!--
Home
-->

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
	<script src="http://js.arcgis.com/3.14/"></script>
    <script src="js/map.js"></script>
    <script src="js/geolocate.js"></script>
    <script src="js/menuDesplegable.js"></script>
	<script src="js/tabs.js"></script>
	
	<!--
Contenido de la página de inicio
-->
      <ion-view view-title="Accesibilidad de La Palma">
        <ion-content class="padding">
		        <div id="map" class="map" data-tap-disabled="true">
				<div id="Search"></div>
			  	<div id="LocateButton"></div>
			  	<div>
					<a id="AddButton" class="button ion-android-add button-large button-positive" href="#/tab/formulario"></a>
				</div>
        </ion-content>
      </ion-view>