<div>
  <ion-view class="padding" view-title="Incidencia">
  </ion-view>
  <ion-view>
    <ion-content class="padding">
      <div class="list" ng-controller="MapController" ng-init="initIncidencia()">
        <div ng-repeat="atributo in atributos">
          <div class="item item-input-inset">
            <div class="input-label"> {{atributo.name}} </div>
              <label class="item-input-wrapper">
                <input type="text" value="{{atributo.value}}">
              </label>
          </div>
        </div>
      </div>
      <div data-ng-app="" data-ng-init="iniciar()"/>
          <div class="input-label"> </div>
          <ion-slide-box on-slide-changed="slideHasChanged($index)">
          <ion-slide ng-repeat="slide in images" >
            <div>
              <img class="full-image" ng-src="{{slide}}">
            </div>
          </ion-slide>
        </div>
    </ion-content>
  </ion-view>
</div>