<ion-view title="Accesibilidad de La Palma" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-navicon" ng-controller="SidemenuController" ng-init="initialize()" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-person" ui-sref="profile"></button>
  </ion-nav-buttons>

  <ion-content>
    <div id="map" class="map" data-tap-disabled="true">
      <div id="Search" ></div>
      <div id="LocateButton" ></div>
      <div><a id="AddButton" class="button ion-android-add button-large button-positive map-add" ng-click="addNotification()"></a></div>
    </div>
  </ion-content>
</ion-view>
