<ion-view view-title="Perfil">
    <ion-content>
        <div class="list card">
            
            <div class="item item-body">
                <img id="profile-image" src="http://graph.facebook.com/{{user.id}}/picture?width=270&height=270"/>
            </div>
        </div>
        <div class="item" align="center">
                <h2>{{user.name}}</h2>
                <br><button class="btn btn-block" ng-click="logout()">Cerrar sesión</button>
        </div>
        <div class="item" align="center">
			<div align="left"><h2><b> Mis ubicaciones </b></h2></div>
	    </div>
	     <div class="item" align="center">
			<div align="left"><h3> Ubicación Ficticia</h3>
			<br> <h4>Valoración: Excelente <br> Organismo: Publico</h4></div>
	    </div>
	   
	    <div class="item" align="center">
			<div align="left"><h3> Ubicación Ficticia 2</h3>
			<br> <h4>Valoración: Pésima <br> Organismo: Publico</h4></div>
	    </div>
	    
    </ion-content>
</ion-view>
