<div>

  <ion-view title="Perfil" ng-hide="loggedIn">
    <!-- Header -->

    <!-- Content -->
 <ion-content has-header="true">

      <br><div id="profile-bg"></div>
      <br><div id="content">
       <br><div id="profile-info">
        <br><img id="profile-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/me.png">
          <h3 id="profile-name">Max</h3>
          <span id="profile-description">Accediendo a través de <a href="http://twitter.com/ionicframework">Twitter</a></span>
      
    </ion-content>
  </ion-view>
</div>
